extends ../layouts/application.pug

block header
  h1.display-4.fw-bold= t('views.labels.new.title')
  
block content
        +formFor()(action=route('createLabel') method='post')
          +input(label, 'name', errors)(type="text")
          +submit(label)(value=t('views.labels.new.submit'))